.add-to-calendar--wrapper {
  position: relative;
  white-space: nowrap;
  display: inline-block;
}
.add-to-calendar--wrapper,
.add-to-calendar--label {
  position: relative;
}
.add-to-calendar--label {
  z-index: 80;
  padding: .5rem;
  cursor: pointer;
}
.add-to-calendar--items {
  z-index: 81;
}
.add-to-calendar--label span,
.add-to-calendar--items a {
  font-size: 0.777rem;
  font-weight: 500;
}
.add-to-calendar--label,
.add-to-calendar--wrapper a {
  text-decoration: none;
}
.add-to-calendar--wrapper i {
  display: inline-block;
  font-size: 0.8888rem;
  margin: 0 10px 0 0;
}
.add-to-calendar--items,
.add-to-calendar--items li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.add-to-calendar--wrapper .add-to-calendar--items {
  background: lightgrey;
  transition: all .2s ease-in-out;
  position: absolute;
  border-radius: 0 0 3px 3px;
  margin-top: -10px;
  opacity: 0;
  height: 0;
}
.add-to-calendar--items a {
  padding: 0.5rem 1rem;
  display: block;
}
.add-to-calendar--wrapper:hover .add-to-calendar--items {
  margin-top: 0;
  opacity: 1.0;
  height: auto;
}
