{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
    'add-to-calendar--label',
  ]
%}

{%
  set classes = [
    'add-to-calendar--wrapper',
    'hover',
  ]
%}
{% set attributes = attributes.addClass(classes) %}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>
      <i class="fa-solid fa-calendar" title="{{ label }}"></i>{{ label }}
    </div>
    {% if multiple %}
    <div>
      {% endif %}
      {% for item in items %}
        <ul{{ item.attributes.addClass('add-to-calendar--items') }}>
          {% for generator in item.content %}
            <li>{{ generator }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      {% if multiple %}
    </div>
    {% endif %}
  </div>
{% endif %}
